<div style="text-align:center">
    <!-- <h1>{{msg}}</h1>
    <h2>22/7= {{expression | number:'1.2-2'}}</h2> -->
    <!-- <st-student></st-student> -->
    <!-- <st-blueButton></st-blueButton> -->
    <!-- <st-twoWay></st-twoWay> -->
    <!-- <st-isPrime></st-isPrime> -->
    <!-- <st-numbersApi></st-numbersApi> -->
    <!-- <st-multiwayBinding></st-multiwayBinding> -->
    <!-- <st-studentApi></st-studentApi> -->
    <!-- <st-questionBank></st-questionBank> -->
    <st-parent></st-parent>
</div>