<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>WELCOME</title>
</head>
<body>
	<a href="/welcome-servlet-app/Welcome">welcome</a><br>
	<a href="views/login.html">login</a><br>
	<a href="/welcome-servlet-app/Session">Session</a><br>
	<a href="/welcome-servlet-app/Application">Application</a><br>
	<a href="/welcome-servlet-app/Summary">Summary</a><br>
	<a href="/welcome-servlet-app/SetCookie">Set Cookie</a><br>
    <a href="/welcome-servlet-app/GetCookie">Get Cookie</a><br>
</body>
</html>